<div class="evab">
  <label class="sup">价格:</label> 
  <b class="sup"><%= skulist.price %></b>
  <span class="sto">
    <label>库存:</label>
    <html>
      <%= skulist.quantity %></html>
  </span>
  <br/>
  <label class="old">原价：</label>
  <strike class="old">
    <%= skulist.oldprice %></strike>
</div>