<% if current_user %>
  <div id="collect_form">
    <% if current_user.collect? @store %>
      <%= render 'uncollect' %>
    <% else %>
      <%= render 'collect' %>
    <% end %>
  </div>
<% else %>
  <div id="collect_form">
    <%= link_to '收藏', collect_user_path(@store), class: 'pure-button uncollect', id: 'keep' %> 
  </div>
<% end %>