  
/*公共css样式*/
p {}
img {max-width: 100%;}
p.clear {clear:both;}
h2 {margin-left: 35%;}
.left {float:left}
.right {float:right;}
.invisible {display: none;}
/*index的css样式*/
div.bg {position:absolute;top:45px;left:0px;z-index: -1; height: 103px;margin-bottom: 10%;}
div.logo {margin-top: 75px;height:12%;width:100%;}
div.picplayer{position:relative;overflow:hidden;width:96%;height:200px;clear:none;border:solid 1px #ccc;border-top: solid 10px #d0d0d0;padding: 2%;}
div.display{border-top: solid 10px #d0d0d0;width:96%;height:20%;padding: 2%;}
div.head {height:15%;margin-bottom:5%;}
div.panel1{position:fixed;bottom:36px;left:0px;display: none;}
div.panel2{position:fixed;bottom:36px;left:33%;display: none;}
div.panel3{position:fixed;bottom:36px;left:66%;display: none;}
img.bg {width: 100%;max-height:100%;}
img.logo {max-width: 100%;height:100%;float: left;margin-right:2%;margin-left: 2%;}
img.guide {max-height: 100%;float:right;margin: 1%;margin-top: 3%;}
img.display {max-height:100%; margin:5%;margin-top: 0;}
p.logo {margin-bottom: 0;font-size: 115%;margin:0;}
p.clean {margin-top: 1px;position: relative;bottom:18%;margin:0;}
p.guide {float:left;margin-left:1%;margin-top: 3%;font-size: 1.15em;margin:0;}
button.keep{position: absolute;right:15px;top:120px;background-color:#d0d0d0;border:none;}
button.bc {background-color: #f5f5f5;border:solid 1px #d0d0d0;}
ul {width:33%;}
li {width:33%;}
/*signup的css样式*/
div.headsign{height: 10%;}
div.ero {border: solid 1px red;border-radius: 5px;width:60%;margin-left: 20%;display: none;}
label.sign {width:30%;text-align:right;float:left;}
input.sign{border-radius: 5px;border-color: #d0d0d0;font-size: 1.10em;height:33px;margin:1%;width:60%;}
button.sign {position: relative;left:30%;margin-top: 6%;width:40%;}
p.sign {margin-left: 20%;margin-top: 2%;}
p.ero {color:red;margin-top: 7%;}
.headsign p{margin-left: 7%;margin-top: 5%}
/*商品展示s1的css样式*/
.gray {background-color: #d0d0d0;}
.sto {float: right;margin: 2%;}
.sup {font-size: 1.5em;color:red;}
.old {font-size: 0.75em;color:gray;}
.evah img,
.chsh img {max-height: 18%;margin: 1.5%;margin-top: 3%;float:right;}
.num img {max-height:25%;margin-top: 5%;}
.num input {width:30%;font-size: 1.50em;}
.num label{font-size: 1.25em;margin: 0;}
.chob fieldset {border:0;}
.evab tt {margin-left: 50%;color:gray;}
button.bsb {height: 80%;width:30%;margin-top: 1.5%}
button.sc {background-color: orange;margin-left: 19%}
button.dp {background-color: red;margin-left: 2%}
button.ins {width:25%;margin-left: 3%;margin-bottom: 3%;background-color: #c0c0c0;}
button.mr {margin-right: 10%;margin-top: 3%;}
div.picplayer2{position:relative;overflow:hidden;width:100%;height:200px;clear:none;border:solid 1px #ccc;}
div.ins {padding: 3%;width:95%;margin-top: 10px;background-color: white;}
div.pri {width:100%;border-top: solid 1px #d0d0d0;padding-top: 2%;}
div.chs {background-color: white;margin-top: 10px;padding:3%}
div.evah,
div.chsh {height:20%;}
div.chsb {padding: 3%;border-bottom: solid 1px #d0d0d0;}
div.chob {display: none;border-top: solid 1px #d0d0d0;}
div.cho {margin-left: 11%;margin-top: 3%;border: solid 1px #d0d0d0;border-radius: 5px;font-size: 1.15em;}
div.num {height: 15%;width:60%;margin-top: 3%;margin-bottom: 3%;}
div.evab {border-top: solid 1px #d0d0d0;}
div.tips {background-color:black;color: white;text-align: center;display: none;}
p.ins {width:70%; border-right:solid 1px #d0d0d0;margin:0;float:left;}
p.f {float: left;font-size: 1.25em;margin:0;margin-right:60%;margin-top: 3%;margin-bottom: 3%;}
/*login的css样式*/
label.log {width:17%;text-align:right;float:left;}
input.log{border-radius: 5px;border-color: #d0d0d0;font-size: 1.10em;height:33px;margin:1%;width:72%;}
div.dialog {height:25%;width:80%;border:solid 2px #ddd;border-radius: 5px;position: absolute;top:25%;left:10%;background-color:#fff;display: none; }
div.mask {height: 100%;width: 100%;background-color: #333;position: absolute;left:0;top:0;display: none;}
div.title {height: 25%;width:100%;background-color:#eee;}
div.tip {text-align: center;}
.tip p {color:red;}
img.ui {float:right;max-height: 80%;margin: 1%;margin-right:2%;}
/*search的css样式*/
.sear {float:left;margin:3%; }
/*sort1的css样式*/
div.shelf{height:23%;border-top: solid 1px #d0d0d0;background-color: white;padding:3%;padding-bottom: 0;}
.shelf img {float: left;max-height: 100%;max-width: 33%;}
.shelf html {width: 70%;}
/*shopcar的css样式*/
div.mygoods {border-bottom:solid 2px #000;padding: 2%;}
.mygoods img {width:25%;margin-left:3%;margin-bottom: 2%; }
.mygoods input {float: left;margin-top: 25px;font-size: 1.25em;}
.mygoods b {float: right;}
.saleprice {border-top:solid 1px #fff;padding: 2%;}
.saleprice p {float: right;margin:0;}
.pay {float:right;margin-right: 2%;}
span.pay {margin-top: 13px;}
b.summary {width: 60%;}
input.number {width: 40%;float:right;margin-right: 3%;display: none;}
