<div class="gray">
    <div class="ftp">
      <p id="back">返回</p>
      <p id="shopcaredit" class="but ero">编辑</p>
    </div>
    <div class="fsp"></div>
    <form>
      <%= render @items %>
      <div class="btm">
        <button id="dip" class="pure-button bsb dp pay">结算</button>
        <button id="del" class="pure-button bsb dp pay invisible">删除</button>
        <span id="pay" class="pay right"><label>总价:</label><b id="needtopay">0</b></span>
      </div>
    </form>
  </div>